.home-page {
  padding: 80px 140px 0 180px;
  min-height: calc(100vh - 80px);
  background: url(../images/home-vector.svg) no-repeat;
}

.first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.home-big-txt {
  font-size: 84px;
  text-align: left;
}

.popular-img {
  vertical-align: baseline;
  padding: 0 28px 8px 0;
}

.quotes-img {
  vertical-align: baseline;
  padding: 0 0 8px 0;
}

.home-blob {
  position: relative;
  padding: 96px;
  background: url(../images/home-blob.svg) no-repeat;
}

.blob-movement {
  position: absolute;
  top: 0;
  left: 20px;
  padding: 200px;
  background: url(../images/home-blob2.svg) no-repeat;
}

.home-blob-btn {
  rotate: 2deg;
  font-size: 40px;
  width: 240px;
  height: 80px;
  background-color: #6f4c5b;
  color: #f0ece3;
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 0 black;
  transition: 0.1s;
}

.home-blob-btn:hover {
  /*   rotate: 0deg;
 */
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 black;
}

.latest-quote-box {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 340px;
  background-color: #fff;
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 0 black;
  margin-left: 12px;
  padding-bottom: 36px;
}

.latest-quote-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  width: 100%;
  height: 70px;
  padding-top: 12px;
  border-bottom: 4px solid black;
  border-radius: 4px 4px 0 0;
  background-color: #7bc4c0;
  justify-content: center;
  margin-right: 8px;
}

.latest-quote-header h3 {
  font-size: 48px;
  align-self: center;
}

.home-boxes-content {
  height: 220px;
  overflow: hidden;
  margin: 80px 8px 4px 12px;
  font-size: 36px;
  text-align: center;
  word-wrap: break-word;
}

.home-boxes-content span {
  position: absolute;
  left: 14px;
  bottom: 4px;
  font-size: 24px;
}

.line-divider {
  width: 4px;
  background-color: black;
  height: 360px;
  margin: 0 8px 0 12px;
}

.news-box {
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 340px;
  background-color: #fff;
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 0 black;
}

.news-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  width: 100%;
  height: 70px;
  padding-top: 12px;
  border-bottom: 4px solid black;
  border-radius: 4px 4px 0 0;
  background-color: #e2c275;
  justify-content: center;
}

.news-header h3 {
  font-size: 48px;
  align-self: center;
}

@media only screen and (max-width: 1400px) {
  .home-page {
    padding: 40px 70px 0 90px;
  }
}

@media only screen and (max-width: 1150px) {
  .home-page {
    padding: 40px 35px 0 45px;
  }
}

@media only screen and (max-width: 840px) {
  .first-row {
    flex-direction: column;
  }
  .second-row {
    flex-direction: column;
  }
  .line-divider {
    height: 60px;
  }
  .home-blob {
    margin-bottom: 36px;
  }
}

@media only screen and (max-width: 560px) {
  .home-page {
    padding: 40px 18px 0 24px;
  }
  .home-page h2 {
    font-size: 56px;
  }
  .home-page h3 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1270px) {
  .home-page {
    padding: 40px 140px 0 180px;
    min-height: calc(100vh - 40px);
  }
}
