.password-reset-page {
  padding: 80px 42px 0 12px;
  min-height: calc(100vh - 80px);
}

.password-reset-box {
  position: relative;
  margin: 0 auto 0 10%;
  max-width: 780px;
  min-height: 560px;
  background-color: #fff;
  border: 4px solid black;
  box-shadow: 5px 5px 0 black;
  border-radius: 8px;

  padding: 80px 24px 24px 24px;
  font-size: 48px;
  z-index: 2;
}

.password-reset-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 70px;
  padding-top: 8px;
  border-bottom: 4px solid black;
  border-radius: 4px 4px 0 0;
  background-color: #6a7fdc;
  justify-content: center;
}

.password-reset-header h3 {
    color: #fff;
  font-size: 48px;
  align-self: center;
}

.password-reset-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 420px;
  height: 100%;
}

.password-reset-form input {
  padding: 4px;
  height: 80px;
  width: calc(100% - 12px);
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 0 black;
  background-color: #dfd3c3;
  transition: 0.2s;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  transition: 0.2s;
}

.password-reset-form input:focus {
  background-color: #f0ece3;
  border: 4px solid black;
  box-shadow: 4px 4px 0 black;
}

.password-reset-item {
}

.password-reset-btn-container {
  position: absolute;
  right: -40px;
  bottom: -46px;
}

.password-reset-btn {
  font-size: 40px;
  width: 240px;
  height: 80px;
  background-color: #6a7fdc;
  color: #fff;
  border: 4px solid black;
  border-radius: 8px;
  box-shadow: 4px 4px 0 black;
  transition: 0.1s;
}

.password-reset-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0 black;  filter: brightness(112%);
}


@media only screen and (max-width: 560px) {
  .password-reset-page {
    padding: 80px 8px 0 8px;
  }
  .password-reset-box {
    margin: 0 auto;
    padding: 80px 8px 0 8px;
  }
  .password-reset-box form {
    font-size: 36px;
  }
  .password-reset-header h3 {
  font-size: 40px;
}
  .password-reset-btn-container {
    right: calc(50% - 120px);
  }
}